<a href="https://colab.research.google.com/github/marayyy/Guvi-Tasks/blob/main/Telephone_Directory_CRUD_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connecting to Atlas & Creating New Database

Connect to Mongodb server

In [14]:
from pymongo import MongoClient
import json

In [16]:
client=MongoClient("mongodb+srv://maray24021999:<####>@cluster0.fkrzenv.mongodb.net/test")      #replace <####> with your own password
print(client.list_database_names())

['countries', 'raj', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

creating New Database

In [17]:
db=client['telephone_directory']

creating new collection in the database

In [18]:
x=db['details']

# Getting Directory inputs

In [34]:
Name = "raj" #@param {type:"string"}
Age = 23 #@param {type:"slider", min:15, max:80, step:1}
PhoneNo = 7878665731 #@param {type:"integer", max:80}
place = "Chennai" #@param {type:"string"}
Name = "mosus" #@param {type:"string"}
Age = 23 #@param {type:"slider", min:15, max:80, step:1}
PhoneNo = 78789085731 #@param {type:"integer", max:80}
place = "Mumbai" #@param {type:"string"}

In [35]:
record={'name':Name,'age' :Age,'phone_no' :PhoneNo,'place' :place}

# CRUD operations (Create, retrieve, update, and delete)

Insert record

In [36]:
x.insert_one(record)

Find record

In [37]:
query_1 = x.find()
for i in query_1:
  print(i)

{'_id': ObjectId('639af2966c347cb087a2d806'), 'name': 'raj', 'age': 23, 'phone_no': 7878665731, 'place': 'Chennai'}
{'_id': ObjectId('639af2eb6c347cb087a2d807'), 'name': 'mosus', 'age': 23, 'phone_no': 78789085731, 'place': 'Mumbai'}

Modify record

In [40]:
query_2 = {'$set': {'email' : 'abc@gmail.com'}}
x.update_one( {'name' : 'mosus'}, query_2 )
list(x.find())

[{'_id': ObjectId('639af2966c347cb087a2d806'),
  'name': 'raj',
  'age': 23,
  'phone_no': 7878665731,
  'place': 'Chennai'},
 {'_id': ObjectId('639af2eb6c347cb087a2d807'),
  'name': 'mosus',
  'age': 23,
  'phone_no': 78789085731,
  'place': 'Mumbai',
  'email': 'abc@gmail.com'}]

Delete record

In [41]:
query_3 = {'phone_no': 78789085731}
x.delete_one( query_3 )
list(x.find())

[{'_id': ObjectId('639af2966c347cb087a2d806'),
  'name': 'raj',
  'age': 23,
  'phone_no': 7878665731,
  'place': 'Chennai'}]